@charset "utf-8";
/* CSS Document */



html {
	    
    background:url(bg-normal3.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	}
img {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

form input[type=text], select {
    width: 80%;
    padding: 9px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
form input[type=date], select {
    width: 80%;
    padding: 9px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


form input[type=submit] {
    width: 40%;
    background-color: #C36;
    color: white;
    padding: 14px 20px;
    margin: 8px 20;
    border: none;
    border-radius: 8px;
    cursor: pointer;
	font-family:"Arial Black", Gadget, sans-serif;


}

form input[type=button] {
    width: 40%;
    background-color: #C36;
    color: white;
    padding: 14px 20px;
    margin: 8px 20;
    border: none;
    border-radius: 8px;
    cursor: pointer;
	font-family:"Arial Black", Gadget, sans-serif;


}
.formja{
	font-family:Calibri;
	font-size:17px;
	
	}
.formjaja p{
	font-family:Calibri;
	font-size:18px;
	font-weight:bold;

}
form input[type="radio"]:checked + label span.radio::after {
  left: -27px;
  background-color: #FC0;
}	

.container span::before,
.container span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.section {
 	width:100px;
  padding: 0px;
  padding-left: 50px;
  padding-top:20px;
}
.section input[type="radio"]{
  display: none;
}
.container {
  margin-bottom: 10px;
}
.container label {
  position: relative;
}
/* Radio buttons */
.container span.radio:hover {
  cursor: pointer;
}
.container span.radio::before {
  left: -52px;
  width: 45px;
  height: 25px;
  background-color: #A8AAC1;
  border-radius: 50px;
}
.container span.radio::after {
  left: -49px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: #6C788A;
  transition: left .25s, background-color .25s;
}

 .my-border 
{	
text-align:center;
color:#000033;
border:2px solid #CCCCCC;
border-radius:10px;
width:40%;
height: 20%;
margin:auto;
background-color:#CCC;
 
}
.error  { 
  color: #F33;
  font-family:arial; 
  font-size: 14px; 
}


